<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769153751748-ace3pg2tmh1ik8tibq5ohb7emed9coor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769153751748-ace3pg2tmh1ik8tibq5ohb7emed9coor</string>
	<key>API_KEY</key>
	<string>AIzaSyCXqYBO7rcCIKn7rJHCV8QbTLwrainRiR8</string>
	<key>GCM_SENDER_ID</key>
	<string>769153751748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-d199c</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-d199c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769153751748:ios:d188a734328e908d764791</string>
</dict>
</plist>